<h1>Slackerboard</h1>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>username</th>
    <th>name</th>
    <th>joined</th>
    <th class="text-center">has reacted with</th>
    <th>messages</th>
  </tr>
  <%- @users.each.with_index do |user, i| %>
    <tr>
      <td class="col-md-1"><%= i+1 %>&nbsp;<%= image_tag(user.profile_image, size: "50x50") %></td>
      <td class="col-md-1">@<%= user.slack_handle%></td>
      <td class="col-md-1"><%= user.real_name%></td>
      <td class="col-md-1"><%= l(user.created_at, format: :short) %></td>
      <td class="col-md-4 text-center">
        <%= emojify(':cat:')%><span class="badge">42</span>
        <%= emojify(':dog:')%><span class="badge">20</span>
      </td>
      <td class="col-md-4">
        <a href="#">#general <span class="badge">1203</span></a>
        <a href="#">#random <span class="badge">594</span></a>
        <a href="#">#random <span class="badge">594</span></a>
        <a href="#">#random <span class="badge">594</span></a>
        <a href="#">#random <span class="badge">594</span></a>
        <a href="#">#plan-all-the-things <span class="badge">302</span></a>
      </td>
    </tr>
  <%- end %>
</table>



